/*
filename: lab04.css
author: Marcus Au
created: 27/03/2025
last modified: 27/03/2025
description: Styles for lab04.html
*/

/* Sets ALL elements to calibri font, sans-serif if calibri is not available */
* {font-family: calibri, sans-serif;}

/* Sets ALL elements to #2F4F4F color */
* {color: #2F4F4F;}

/* Sets all <h1> to purple, 2x standard width and bold. Overrides more general selectors (like above) */
h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
    }

/* Sets all <h2> to rgb(0,128,128), 1.5x standard width and bold */
h2 {
    color:rgb(0,128,128); 
    font-size:1.5em;
    font-weight: bold;
    }

/* Group selector, sets <h1>, <h2>, <h3> to arial font, sans-serif if arial not available */
h1, h2, h3 { font-family: Arial, sans-serif;}

/* Group selector, sets aside and footer to italic */
aside, footer { font-style: italic;}


/* Sets table, (t)able (d)ata, (t)able (h)eader to 1px of solid black outline */
table, td, th {border: 1px solid black}

/* Sets tag #images tag to text-align centre (CSS uses American spelling unfortunately) */
#images {
        text-align: center;
    }

/* Sets all special characters to darkorange and bold */
.special {
    color:darkorange;
    font-weight: bold;
    }

/* Sets a border around the menu bar (nav), with spacing and removes the underline for hyperlinks */
nav a {
     text-decoration: none;
    padding:0.2em 0.6em;
    border: 4px solid #ccc;
       }  

/* Sets the colour of the menu bar (nav) to light blue and border colour to dark blue when cursor hover */
nav a:hover{
    color: lightblue;
    border: 4px solid darkblue;
    }


/* Sets ALL unordered lists, that are nested inside ordered lists, to have square bullet points */
ol a, ul {
    list-style-type: square;
}




